@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

h1 {
  font-size: 1em;
}

body {
  font-family: Alata;
  margin: 0;
  padding: 0;

  background: var(--background-color);
  color: var(--primary-font-color);

  --background-color: #363a3d;
  --primary-font-color: rgb(236, 236, 236);
  --boxShadow: rgb(236, 236, 236);
  --hoverColor: #4C4F56;
  --darkBackground: #616161;
  --borderColor: #696969;
  --textArea: rgb(236, 236, 236);
  --darkerBackground: #232729;
  --roleSelect: #303336;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;

  display: flex;
  justify-content: center;
}

#page-container {
  padding-bottom: 2.5rem;    /* Footer height */
}

#content-wrapper {
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center > * {
  margin: auto;
}