@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

h1 {
  font-size: 3rem;
}

body {
  font-family: "Comfortaa";
  margin: 0;
  padding: 0;

  background: var(--background-color);
  color: var(--primary-font-color);

  // ------------------  V A R S ------------------

  --svgNavSize: 2.5em;
  --svgNavHoverSize: 3.5em;



  --background-color: #363a3d;
  --primary-font-color: rgb(236, 236, 236);
  --notActive: #8f8f8f;
  --boxShadow: rgb(236, 236, 236);
  --hoverColor: #4C4F56;
  --darkBackground: #616161;
  --borderColor: #696969;
  --textArea: rgb(236, 236, 236);
  --darkerBackground: #232729;
  --roleSelect: #303336;
  --svgSpeed: 0.2s;
  --slideSpeed: 0.5s;


  --dashTransitionSpeed: 0.5s;
  --buttonHoverBackground: #005e05;
  --buttonBackground: rgb(0, 128, 6);
  --alertImportant: #f44336;
  --alertInfo: #2196F3;
  --alertWarning: #ff9800;
  --alertSuccess: #4CAF50;
  --musicPrimary: #8f007d;
  --musicSecondary: #5F185A;
  --musicFont: #b2019a;
  --economyPrimary: #f5c800;
  --economySecondary: #1C6B6C;
  --logoutPrimary: #A10000;
  --logoutSecondary: #B4B5B6;

  --signInPrimary: #39ae02;
  --signInSecondary: #B4B5B6;

  --moderationPrimary: #e67f02;
  --moderationSecondary: #625120;
  --dashboardPrimary: #007ef5;
  --dashboardSecondary: #1C4F82;
  --sshbotFont: #B51E00;
}

.hidden {
  display: none;
}

.noOpacity {
  opacity: 0;
}

button {
  border: none
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

footer {
  clear: both;
  position: relative;
  height: 200px;
  margin-top: -200px;

  display: flex;
  justify-content: center;
}

#page-container {
  padding-bottom: 2.5rem;    /* Footer height */
  flex: 1;
}

#content-wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center > * {
  margin: auto;
}

.discordGradient_svg__discordText {
  line-height:1.25;
  -inkscape-font-specification:Alta
}

.underlined { border-bottom: 3px double; }