.toDashboard {
    --color: #fff;
    --anim: #0093E9;
    width: 6em;
    height: 2em;
    padding: 0.5em;
    border-radius: 5%;
}

.toMusic {
    padding: 0.5em;
    width: 6em;
    height: 2em;
    --color: #fff;
    --anim: var(--musicFont);
}

.addBot {
    --color: #fff;
    --anim:#1ea800;
    width: 6em;
    height: 2em;
    padding: 0.5em;
    border-radius: 5%;
}

.root {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-content: center;
}

.invisible {
    visibility: hidden;
}

.item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 0.75em;
    opacity: 0;
}

.infoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 25%;
}

.infoBox img {
    width: 4em;
    height: 4em;

    border-radius: 100%;
    margin-right: 1em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    & > a {
        margin-left: 1em;
    }
}

.noServers {
    display: flex;
    justify-content: center;
}