

.subSetting {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    width: 100%;

    > * {
        flex: 1;
    }
}

.inputDiv {
    $p: &;
    background: var(--darkerBackground);
    border-color: var(--borderColor);
    border-radius: 4px;
    height: 2.25em;
    border-style: solid;
    border-width: 1px;
    padding-left: 1em;
    flex: 3;

    input {
        height: 100%;
        width: 100%;
        padding: 0;
        border: 0;
        margin: 0;
        color: var(--primary-font-color);
        background: transparent;
        outline: none;
    }
}

.outlined {
    border-color: var(--boxShadow)
}

.setting {
    width: 35%;
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 50%;
    margin-right: 1.5em;
    grid-template-columns: 4fr 1fr;
    display: grid;
}

.help {
    cursor: pointer;
    transition: all 0.125s ease-in-out;

    svg {
        width: 1.25em;
        height: 1.25em;
    }

    &:hover {
        color: var(--dashboardPrimary);
    }
}

.inputAnimated {
    transform: translateX(100%);
    flex-grow: 0.5;
}

.activeInput {
    transform: translateX(0%);
    flex-grow: 1.9;
}

.noOverflow {
    overflow: hidden;
}

.spaceTop {
    margin-top: 2.5em;
}