.svg {
    display: grid;
    justify-items: center;
    align-items: center;

    svg {
        width: var(--svgNavSize);

        transition: all ease-in var(--svgSpeed);

        path:nth-child(1) {
            fill: var(--fa-secondary-color, currentColor);
            opacity: var(--fa-secondary-opacity, 0.4);
        }

        path:nth-child(2) {
            fill: var(--fa-primary-color, currentColor);
            opacity: var(--fa-primary-opacity, 1);
        }

        grid-column: 1;
        grid-row: 1;
    }

    &::before {
        width: var(--svgNavHoverSize);
        height: var(--svgNavHoverSize);
        content: " ";

        grid-column: 1;
        grid-row: 1;
    }

    display: grid;
}

.navItem {
    color: var(--notActive);

    display: flex;
    transition: ease-in-out;

    align-items: center;
    justify-content: center;

    .singleText {
        font-size: 0em;
        color: var(--background-color);
    }

    &:hover {
        --fa-secondary-opacity: 1;

        svg {
            width: var(--svgNavHoverSize);
        }
    }

    --fa-secondary-opacity: 0.5;
}
