.svg {
    width: 2.5em;

    transition: all ease-in var(--svgSpeed);
}

.svg path:nth-child(1) {
    fill: var(--fa-secondary-color, currentColor);
    opacity: var(--fa-secondary-opacity, .4)
}

.svg path:nth-child(2) {
    fill: var(--fa-primary-color, currentColor);
    opacity: var(--fa-primary-opacity, 1)
}

.navItem {
    color: var(--notActive);

    display: flex;
    transition: ease-in-out;

    align-items: center;
    justify-content: center;

    .singleText {
        font-size: 0em;
        color: var(--background-color)
    }

    &:hover {
        --fa-secondary-opacity: 1;

        svg {
            width: 3.5em;
        }
    }

    --fa-secondary-opacity: .5;

}